.b{width:500px;height:500px;display:inline-block;margin-right:0px;text-align:center;padding:50px;white-space:nowrap;background:black}
.w{width:500px;height:500px;display:inline-block;margin-right:0px;text-align:center;border:solid 2px black;padding:50px;white-space:nowrap;background:White}
.white{font-size:300%;color:white}
.black{font-size:300%}
